<!DOCTYPE html>
<html>
  <head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="../styles/common.css" />
	<link rel="stylesheet" href="../styles/push.css" />
  </head>
  <body>

  <div class="top">
     发布评论
  </div>

  <div class="content">

     <div class="line">
         <input type="text" class="inp name" placeholder="标题" />
     </div>

     <div class="line">
         <input type="text" class="inp desc" placeholder="留言内容" />
     </div>


     <div class="upload-img">
       <img src="" alt="" class="show-img">
     </div>

     <div class="line">
         <button type="button" class="push-btn">确认发布</button>
     </div>

  </div>
  
  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="../js/push.js"></script>
  </body>
</html>